<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/ventas.css">
    <title>ventas</title>
</head>

<body id="app">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Ventas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./productos.html">Productos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--////////////////////////////////////////////////////////////////////////////-->
    <main class="d-flex flex justify-content-center align-items-center row">
        <section class="d-flex justify-content-start row">
            <h2>REGISTRO DE VENTAS </h2>
            <div class="filtros">
                <p>Filtrar por fecha: </p>
                <div class="inputfechas">
                    <div class="filterbox">
                        <label for="">Desde</label>
                        <input type="date" name="inicio" id="" v-model="desde">
                    </div>
                    <div class="filterbox">
                        <label for="">Hasta:</label>
                        <input type="date" name="fin" id="" v-model="hasta">
                    </div>
                    <div>
                        <input class="boton" type="button" value="Filtrar">
                    </div>
                </div>
            </div>
        </section>
        <!--/(///////////////////////////////////////////////////////)-->
        <div class="contenedortabla scrolltabla">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Pago</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="venta in data">
                        <th scope="row">{{venta.id}}</th>
                        <td>{{venta.fecha}}</td>
                        <td>{{venta.pago}}</td>
                        <td>{{venta.total}}</td>
                    </tr>
            </table>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./javascript/ventas.js"></script>
</body>

</html>